.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.card-box {
  min-height: 200px;
  background-image: url("./img/card-background.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}

.card-info {
  display: flex;
  gap: 12px;
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  flex-shrink: 0;
  cursor: pointer;
  margin-left: 12px;
}

.track {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track__title.card {
  max-width: 250px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.track__dec.card {
  max-width: 250px;
  font-size: 12px;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
}

.track__audio {
  width: 180px;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.player > img {
  object-fit: contain;
  width: 50px;
  height: 30px;
}

.player > .previous,
.player > .next {
  height: 20px;
}
